@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar customization */

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(162, 162, 162);
  min-height: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575757;
}

/* Navbar customization: Dark mode */

.dark ::-webkit-scrollbar-track {
  background-color: #4c4c4c;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(48, 48, 48);
  height: 1rem;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(32, 32, 32);
}

/* Navbar customization: Dark mode */

.smooth-theme-transition {
  @apply transition-colors duration-300;
}

/* Reset rings around elements */

*:focus,
*:active {
  @apply outline-none;
}
