@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar customization */

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(162, 162, 162);
  min-height: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575757;
}

/* Navbar customization: Dark mode */

.dark ::-webkit-scrollbar-track {
  background-color: #4c4c4c;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(48, 48, 48);
  height: 1rem;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(32, 32, 32);
}

/* Navbar customization: Dark mode */

.smooth-theme-transition {
  @apply transition-colors duration-300;
}

/* Disbale focus rings on all focused elements */

button:focus,
button:active:focus,
button:focus-visible,
input:focus,
input:active:focus,
input:focus-visible,
select:focus,
select:active:focus,
select:focus-visible,
textarea:focus,
textarea:active:focus,
textarea:focus-visible,
a:focus,
a:active:focus,
a:focus-visible {
    outline: none;
    box-shadow: none;
}
