@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar customization */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #b3b3b3;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(132, 132, 132);
  min-height: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575757;
}

/* Navbar customization: Dark mode */

.dark ::-webkit-scrollbar-track {
  background-color: #4c4c4c;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(48, 48, 48);
  height: 1rem;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(32, 32, 32);
}

/* Navbar customization: Dark mode */


.smooth-theme-transition {
  @apply transition-colors duration-300;
}